
<script type="text/javascript">
$(document).ready(function () {
    
data = $.parseJSON('<%= raw @chart_data %>').response;

options = {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.04
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none",
            backgroundOpacity: 0.5
         }
    }



points = [];
ticks = [];
for (i = 0 ; i < data.length ; i++) {
   points.push(Array(i, data[i].data));
   ticks.push(Array(i, data[i].label));
}
data = [{ data: points,
            minTickSize: 1,
            bars: { 
                    show: true,
                    align: 'center'
                   }         }];
options = {
    xaxis: {
                tickDecimals: 0,
                labelAngle: 90,
                ticks: ticks
            }
}

options.colors = colors;
$.plot($("#<%= @chart_handle %>"), data, options);

});
</script>
