<script type="text/javascript">
$(document).ready(function () {
    options = {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.04
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none",
            backgroundOpacity: 0.5
         }
    }
    options.colors = COLORS;
    $.plot($("#<%= @chart_handle %>"), $.parseJSON('<%= raw @chart_data %>').response, options);
});
</script>


