This is our dashboard

<style type="text/css">
#placeholder { width: 660px; height: 660px; font-size:18px; position:relative; }

</style>


<script type="text/javascript">
var indiv_data = [{ label: "drnic", data: 43 },{ label: "frodenas", data: 107 },{ label: "rkoster", data: 2 },{ label: "Kaixiang", data: 15 },{ label: "amhuber", data: 2 },{ label: "tader", data: 2 },{ label: "oppegard", data: 7 },{ label: "blueboxjesse", data: 5 },{ label: "ajackson", data: 2 },{ label: "fraenkel", data: 2 },{ label: "yudai", data: 9 },{ label: "TieWei", data: 10 },{ label: "hgadgil", data: 2 },{ label: "syslxg", data: 2 },{ label: "mmb", data: 18 },{ label: "pmenglund", data: 29 },{ label: "cf-frontend", data: 2 },{ label: "hiremaga", data: 2 },{ label: "stefanschneider", data: 5 },{ label: "cf-bosh", data: 2 },{ label: "danhigham", data: 2 },{ label: "cf-frameworks", data: 8 },{ label: "ankurcha", data: 11 },{ label: "anfernee", data: 4 },{ label: "rajdeepd", data: 2 },];

$(document).ready(function () {
$.plot($("#placeholder"), indiv_data, {
         series: {
            pie: {
                show: true,
                radius: 1,
                label: {
                    show: true,
                    radius: 2/3,
                    formatter: function(label, series){
                        return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                    },
                    threshold: 0.1
                }       
            }
         },
         legend: {
            labelBoxBorderColor: "none"
         }
    });
});
</script>

<div id="placeholder" style="margin:0 auto; float:left; bottom:40px; left:150px;"></div>
