<h1>GitHub Repo Analytics for graPHing</h1>

<style type="text/css">
#user_chart { width: 660px; height: 660px; font-size:18px; position:relative; }
#company_chart { width: 660px; height: 660px; font-size:18px; position:relative; }
#user_prs_table_container { width: 660px; height: 660px; font-size:18px; position:relative; }
</style>

<%# For User Statistics %>
<% @chart_handle = "user_prs_chart" %>
<% @chart_data = @prs_by_user_pie_str %>
<%= render 'pie_chart' %>
<div id="user_prs_chart"></div>

<% @table_handle = "user_prs_table" %>
<% @table_data = @prs_by_user %>
<% @label_header = "User" %>
<% @data_header = "Contributions" %>
<% @label_index_name = "login" %>
<% @data_index_name = "num_prs" %>
<div id="user_prs_table_container">
<%= render 'hash_as_table' %>
</div>



<%# For Company Statistics %>
<% @chart_handle = "company_prs_chart" %>
<% @chart_data = @prs_by_company_pie_str %>
<%= render 'pie_chart' %>
<div id="company_prs_chart"></div>

<% @table_handle = "company_prs_table" %>
<% @table_data = @prs_by_company %>
<% @label_header = "Company" %>
<% @data_header = "Contributions" %>
<% @label_index_name = "name" %>
<% @data_index_name = "num_prs" %>
<%= render 'hash_as_table' %>