<h1>GitHub Repo Analytics for Graphing</h1>

<style type="text/css">
#user_chart { width: 660px; height: 660px; font-size:18px; position:relative; }
</style>


<% @chartHandle = "user_chart" %>
<% @chartData = @user_pie_data %>
<%= render 'pie_chart' %>
<div id="user_chart" style="margin:0 auto; float:left;  left:150px;"></div>

