<h1>Release Notes for 2014-02-21</h1>
<br>

<u>Key Additions</u>
<ul>
  <li>Now analying multiple organizations (Openstack, MongoDB, cloudfoundry-attic)</li>
  <li>Filter settings are retained while switching pages / opening new tabs.</li>
  <li>Added the ability to download tables to excel</li>
  <li>Added a filter that allows grouping results by a user's full name</li>
  <li>Added a "rollup" feature to the analytics page that'll set the number of contributors in a graph</li>
  <li>Began integrating cached user/company mappings from stackalytics/launchpad https://github.com/stackforge/stackalytics/blob/master/etc/default_data.json</li>
</ul>

<u>Fixed Issues</u>
<ul>
  <li>The "Days Open" field for Open Pull Requests was originally null</li>
  <li>Date Ranges buttons are now working</li>
</ul>

<%= render 'system_notes' %>