<h1>Release Notes for 2014-01-24</h1>
<br>

<u>Key Additions</u>
<ul>
  <li>Added support for the commits metric</li>
  <li>Added a "Reports" page that gives details on each pull request (ex. User's full name, PR title, etc).</li>
</ul>

<%= render 'system_notes' %>