###
# Filters / Search Criteria
###

Metrics
 - # Pull Request
 - # Days Elapsed
 - Distinct User Count?


Group Bys
 - User
 - Company
 - Repo
 - State
 - Month
 - Quarter
 - Year

Search Criteria
 - User
 - Company
 - Repo
 - State
 - Month
 - Quarter
 - Year


--------------------
--------------------
--------------------

###
# Data Customizations
###

VMware <- VMWARE, vmware

--------------------
--------------------
--------------------

###
# Beta Requirements
###
 - PRs by company, and individual with # and % merged tracked by YTD, Quarter and (TODO)Month with a ranking.
 - Show past 12 months mapped by month so that growth can be seen
 - High Level Statistics
  - Total Number of PRs
  - Number of companies making PRs
  - PR Avg Days Open (Total and IBM's)
  - List percentage of closed PRs versus merged PRs (Omit those that are open)

###
# Forward Looking Requirments
###
 - Make default view a "rolling" set of quarters (Current + prior 3)
 - Look into mining the mailing list for metrics
 - Look into mining the twitter for metrics
 - Vince about getting some metrics from the cloudfoundry.org site




###
# Statistics
###

Charts
- PRs by User
- PRs by Company

Tables
- PRs by User
- PRs by Company

Single Statistics
- Avg days to merge a PR
- Avg concurrent PR