<table id="summary_report_table" style='width: 380px;'>
  <thead style="width:100%;">
    <tr>
      <td>Open</td>
      <td>Closed</td>
      <td>Merged</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody style='width: 100%;'>
    <tr>
      <td><%= @summary_table_data[:open] %></td>
      <td><%= @summary_table_data[:closed] %></td>
      <td><%= @summary_table_data[:merged] %></td>
      <td><%= @summary_table_data[:total] %></td>
    </tr>
  </tbody>
</table>