<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      setupReportReady();
    });
  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>
<% @filter_changed_function = 'reportFilterChanged' %>
<%= render 'shared/search_criteria' %>
<br><br>
<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
	<h2 id="report_summery_chart_title" > Pull Request Summary</h2>
	<div id="report_table_summery_loader" style="height:200px"><%= image_tag "spinner.gif" %></div>
	<div id="report_table_summary_container" style="width:390px; height:80px; "></div>
</div>
<br>
<div style="margin-top: 50px; ">
  <h2 id="report_chart_title" style="display:inline;"> Pull Request Details</h2>
  <button id="report_download">Download to CSV</button>
</div>
<br>
<div id="report_table_loader" style="height:200px"><%= image_tag "spinner.gif" %></div>
<div id="report_table_container" style="width:100%;font-size:14px;overflow:hidden;"></div>

