<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
       
      // Load local values 
      loadLocalStorage();
      
      // Run the filter update on load to get the data      
      filterUpdate();
    });


    function filterUpdate() {

      values = createSearchCriteriaJSON()
      localStorage.setItem('vals', JSON.stringify(values));

      data = {
        report: 'prs',
        searchCriteria: values
        // Add summary
      }
      // Make API calls to update the data
      reportAJAX(data, 'text', updateTableCallback);
      data = {
        report: 'summary',
        searchCriteria: createSearchCriteriaJSON()
        // Add summary
      }
      // Make API calls to update the data
      reportAJAX(data, 'text', updateSummaryTableCallback);
    }

    function updateTableCallback(result){
      //alert(result)
      $("#table_container").empty();
      $("#table_container").html(result);
      $("#report_table").dataTable(REPORT_TABLE_OPTIONS);
    }
    function updateSummaryTableCallback(result){
      $("#table_summary_container").empty();
      $("#table_summary_container").html(result);
      $("#summary_report_table").dataTable(MIN_TABLE_OPTIONS);
      
      // Couldn't get working with regular tables, uncomment below to see example 
      //$("#summary_report_table").empty();
      //$("#summary_report_table").html(result);
    }

    function printStuff(result){
      alert(result);

    }
    function downloadCSV(result){
      //alert("RESULT!");
      console.log(result);
      var CSV = result;
      window.URL = window.webkitURL || window.URL;
      var contentType = 'text/csv';
      var csvFile = new Blob([CSV], {type: contentType});
      var a = document.createElement('a');
      a.download = 'graf_output.csv';
      a.href = window.URL.createObjectURL(csvFile);//
      //a.textContent = 'Download CSV';
      a.onclick = destroyClickedElement;
      a.dataset.downloadurl = [contentType, a.download, a.href];
      console.log(a.dataset.downloadurl)
      console.log(a.href)
      document.body.appendChild(a);
      a.click();
      //window.location = a.href;
      //window.open($("#download_button").attr('href'),'_blank')
      
    }

    function destroyClickedElement(event)
    {
      document.body.removeChild(event.target);
    }

    $(document).ready(function () {

       $("#download").click(function () {
        data = {
          /*metric: $("#metric_filter").val(),
          groupBy: $("#group_by_filter").val(),
          rollupVal: $("#rollup").val(),
          searchCriteria: createSearchCriteriaJSON()*/
          report: 'prs',
          file: 'csv',
          searchCriteria: createSearchCriteriaJSON()
        }
        reportAJAX(data, 'text', downloadCSV);
        //analyticsAJAX(data, 'csv', 'text', printStuff);
      });
    });
  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>
<%= render 'shared/last_load' %>

<h2>Organizations</h2>
<div style="float:left">
  <% @drop_down_id = "org_filter" %>
  <% @drop_down_data = @organizations %>
  <% @drop_down_data_index = "login" %>
  <% @drop_down_empty_label = "All" %>
  <% @drop_down_selected = nil %>
  <% @drop_down_width = "500px" %>
  <%= render 'shared/drop_down' %>
</div>

<br><br>

<%= render 'shared/search_criteria' %>
<br>
<hr>
<br>
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Request Summary</p>
<b></b>
<br>
<br>
<div id="table_summary_container" style="width:350px; height:50px; "></div>

</div>

<br>
<hr>
<br>

<div>
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Request Details</p>
<button id="download">Download to CSV</button>
<br>
<br>

<div id="table_container" style="width:1550px; height:500px; "></div>

</div>
