<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      setupReportReady();
    });
  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>
<%= render 'shared/last_load' %>
<br>
<% @filter_changed_function = 'reportFilterChanged' %>
<%= render 'shared/search_criteria' %>

<div style="margin-bottom: 0; padding-bottom: 0; font-weight:normal;" >
<h2 id="chart_title" > Pull Request Summary</h2>

<div id="loader" style="height:200px"><%= image_tag "spinner.gif" %></div>

<div id="table_summary_container" style="width:350px; height:50px; "></div>

</div>

<br>
<br>
<div style="margin-top: 50px; ">
<h2 id="chart_title" style="display:inline;"> Pull Request Details</h2>
<button id="download">Download to CSV</button>
</div>
<div id="table_container" style="width:960px;; height:680px; font-size:12px;overflow:scroll;"></div>

