<%################%>
<%# Extra Headers %>
<%################%>
<% content_for(:extra_headers) do %>
  <script type="text/javascript">
    $(function() {
      $( document ).tooltip();
    });

    //
    // Initial Page Load Activities
    //
    $(document).ready(function () {
      setupReportReady();
    });
  </script>
<% end %>


<%###############%>
<%# Body Section %>
<%###############%>
<%= render 'shared/last_load' %>

<h2>Organizations:</h2>
<div style="float:left">
  <% @drop_down_id = "org_filter" %>
  <% @drop_down_data = @organizations %>
  <% @drop_down_data_index = "login" %>
  <% @drop_down_empty_label = "All" %>
  <% @drop_down_selected = nil %>
  <% @drop_down_width = "500px" %>
  <%= render 'shared/drop_down' %>
</div>

<br><br>
<h2>Metric:</h2>
 <select id="metric_filter">
    <option value="prs">Pull Requests</option>
  </select>

<br><br>

<% @filter_changed_function = 'reportFilterChanged' %>
<%= render 'shared/search_criteria' %>
<br>
<br>
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Request Summary</p>
<b></b>
<br>
<br>
<div id="loader" style="height:200px"><%= image_tag "spinner.gif" %></div>

<div id="table_summary_container" style="width:350px; height:50px; "></div>

</div>

<br>
<br>
<div style="margin-top: 50px; ">
<p id="chart_title" style="display:inline; margin-bottom: 0; padding-bottom: 0; font-size:20px"> Pull Request Details</p>
<button id="download">Download to CSV</button>
<br>
<br>



</div>
<div id="table_container" style="width:1550px; height:500px; "></div>
