<% require 'constants' %>
CHART_COLORS = <%= Constants.get_chart_colors.to_json %>;
METRICS = <%= Constants.metrics.to_json %>;
FILTERS = <%= Constants.filters.to_json %>;
MONTH_NAMES = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];



//
// General Analytics Functions
//
function analyticsAJAX(data, format, responseType, callback){
  data.format = format
  data.timeframe = $("#timeframe").val()
  console.log(data)
  $.ajax({
      beforeSend: function() {
        $('#analytics_chart_loader').show();
        $('#analytics_dt_loader').show();
        $('#analytics_metric_chart').hide();
        $('#analytics_table_container').hide();
      },
      url: "analytics_data",
      data: data,
      method: 'POST',
      dataType: responseType,
      complete: function(){
        $('#analytics_dt_loader').hide();
        $('#analytics_table_container').show();
        console.log("completes rendering analystics page.");
      },
      success: callback,
      error: function(XMLHttpRequest, textStatus, errorThrown) { 
        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
    }       
  });
}

function setVisibility(element_id){
  if ($("#view_type").val() == "line") {
    //document.getElementById(element_id).style.visibility = 'visible' ;
    $("#" + element_id).multiselect('enable')
  }
  else {
    //document.getElementById(element_id).style.visibility = 'hidden' ;  
    $("#" + element_id).multiselect('disable')
  }
}

function setTimeFrame(){
  if ( $("#timeframe").val() == "month" ) {
      LINE_OPTIONS.xaxis.minTickSize = [1, "month"] ; 
  } 
  else if ( $("#timeframe").val() == "quarter" ) {
      LINE_OPTIONS.xaxis.minTickSize = [1, "quarter"] ; 
  } 
  else if ( $("#timeframe").val() == "year" ) {
      LINE_OPTIONS.xaxis.minTickSize = [1, "year"] ; 
  }
  refreshAnalyticsChartData();
}


function setupAnalyticsReady() {
  // Setup Controls

  $("#timeframe").multiselect(SINGLE_SELECT_OPTIONS);
  $("#rollup").multiselect(SINGLE_SELECT_OPTIONS);
  $("#metric_filter").multiselect(SINGLE_SELECT_OPTIONS);
  $("#group_by_filter").multiselect(SINGLE_SELECT_OPTIONS);
  $("#view_type").multiselect(SINGLE_SELECT_OPTIONS);

  $("#metric_filter").change(function () {
    analyticsMetricChanged();
  });

  $("#group_by_filter").change(function () {
    refreshAnalyticsData();
  });

  setVisibility('timeframe'); // TODO, Shouldn't have to run this twice
  
  $("#view_type").change(function () {
    refreshAnalyticsChartData();
    setVisibility('timeframe');
  });

  $("#rollup").change(function () {
    refreshAnalyticsChartData();
  });

  $("#timeframe").change(function() {
    setTimeFrame();
    refreshAnalyticsChartData();
  });


  // Setup CSV links
  $("#download").click(function () {
    data = {
      metric: $("#metric_filter").val(),
      groupBy: $("#group_by_filter").val(),
      searchCriteria: createSearchCriteriaJSON()
    };

    analyticsAJAX(data, 'csv', 'text', downloadCSV);
  });

  // Load local storage
  loadFiltersFromLocalStorage();

  // Make restrictions
  restrictFilters();
  restrictGroupBys();
  restrictChartViews();

  // Load initial data
  refreshAnalyticsData();

  // TODO: Put in its own function
  var previousPoint = null;

  $("#analytics_metric_chart").bind("plothover", function (event, pos, item) {
    if (item) {
      if ((previousPoint != item.dataIndex) || (previousLabel != item.series.label)) {
        previousPoint = item.dataIndex;
        previousLabel = item.series.label;

        $("#flot-tooltip").remove();

        var x = convertToDate(item.datapoint[0]),
        y = item.datapoint[1];
        z = item.series.color;

        showTooltip(item.pageX, item.pageY,
            "<b>" + item.series.label + "</b><br /> " + x + " : " + y ,
            z);
      }
    }
    else {
        $("#flot-tooltip").remove();
        previousPoint = null;
    }
  });
}

function analyticsFilterChanged() {
  storeFiltersToLocalStorage();

  refreshAnalyticsData();
}

function analyticsMetricChanged() {
  // Make restrictions
  restrictFilters();
  restrictGroupBys();
  restrictChartViews();
  storeFiltersToLocalStorage();
  refreshAnalyticsData();
}

function refreshAnalyticsData() {
  refreshAnalyticsChartData();
  refreshAnalyticsTableData();
}

function refreshAnalyticsChartData() {
  if (!allowDataRefresh) {
    return;
  }

  data = {
    metric: $("#metric_filter").val(),
    groupBy: $("#group_by_filter").val(),
    rollupCount: $("#rollup").val(),
    searchCriteria: createSearchCriteriaJSON()
  }

  // Update Chart
  analyticsAJAX(data, $("#view_type").val(), 'json', updateAnalyticChartCallback);

  // Update the titles
  var title = $("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text();
  $("#analytics_chart_title").html(title);
}

function refreshAnalyticsTableData() {
  if (!allowDataRefresh) {
    return;
  }

  data = {
    metric: $("#metric_filter").val(),
    groupBy: $("#group_by_filter").val(),
    searchCriteria: createSearchCriteriaJSON()
  }

  // Make API calls to update the data in table
  analyticsAJAX(data, 'table', 'text', updateAnalyticsTableCallback);
  var title = $("#metric_filter option:selected").text() +  " Grouped By " + $("#group_by_filter option:selected").text();
  $("#analytics_dt_title").html(title);
}

function disableGroupBy(groupBy) {
  $("#group_by_filter option[value=" + groupBy + "]").attr('disabled', true);
}

function enableGroupBy(groupBy) {
  $("#group_by_filter option[value=" + groupBy + "]").attr('disabled', false);
}



//
// Data Table
//
function updateAnalyticsTableCallback(result) {
  $("#analytics_table_container").empty();
  $("#analytics_table_container").html(result);
  //var metric = $("#metric_table").dataTable();
  var metric = $("#metric_table").dataTable(ANALYTICS_TABLE_OPTIONS);

  // TODO, this is probably in the wrong place
  $("#metric_table tbody").on( 'click', 'tr', function(){
    var id = metric.fnGetData(this)[0];
    // TODO, find a way to convert HTML entities back to plaintext
    //console.log(String.fromCharCode(id));
    console.log(id); 
    $("#" + $("#group_by_filter").val() + "_filter").val(id)
    storeFiltersToLocalStorage() 
    window.location.assign('/report')
  });
  $('#analytics_dt_loader').hide();
  $('#analytics_table_container').show();
}

ANALYTICS_TABLE_OPTIONS = {
  "sScrollY": "100%",
  "sScrollX": "960px",
  "sXInner": "960px",
  "bPaginate": true,
  "bAutoWidth" : true,
  "bFilter": true,
  "bSort" : false,
  "columns":  [ 
         { "width": "600px" },
         { "width": "300px" }
      ]
};



//
// Charts
//
function restrictChartViews() {
  // allowDataRefresh param false to prevent any data refreshes from happening until done
  allowDataRefresh = false;
  
  var curMetric = METRICS.metrics[$("#metric_filter").val()];

  // Set the view to the first value in the list so that it is valid
  $("#view_type").val(curMetric.view_as[0]);

  $(function() {
    $("#view_type option").each(function(i){
      var indexOf = curMetric.view_as.indexOf($(this).val());
      if (indexOf >= 0) {
        enableChartView($(this).val());
      }
      else {
        disableChartView($(this).val());
      }
    });
  });

  $("#view_type").multiselect('refresh');

  // re-enabling data refreshing
  allowDataRefresh = true;

}

function disableChartView(viewName) {
    $("#view_type option[value=" + viewName + "]").attr('disabled','disabled');
}

function enableChartView(viewName) {
    $("#view_type option[value=" + viewName + "]").removeAttr('disabled');
}

function updateAnalyticChartCallback(result){
  $("#analytics_metric_chart").empty();

  if (result.response.length == 0) {
    data = [{ label: "No Pull Requests", data: 1, color:'#E0E0E0' }];
  }
  else {
    data = result.response;
  }

  viewType = $("#view_type").val()

  if (viewType == "pie") {
    options = PIE_OPTIONS;
  }
  else if (viewType == "bar") {
    result = parsePieToBar(data);
    var data = result.data;
    var options = result.options;
  }
  else {
    options = LINE_OPTIONS;
  }

  $.plot($("#analytics_metric_chart"), data, options);
  
  $('#analytics_chart_loader').hide();
  $('#analytics_metric_chart').show();
}

function parsePieToBar(data) {
  points = [];
  ticks = [];
  for (i = 0 ; i < data.length ; i++) {
     points.push(Array(data[i].data, i));  //Array(i, data[i].data));
     ticks.push(Array(data[i].label, i)); //Array(i, data[i].label));
  }

  data = [{
    data: points,
    minTickSize: 1,
    bars: { 
      show: true,
      horizontal: true, 
      align: "center" 
    }         
  }];
  ticks.forEach(function(arr) {arr.reverse()});
  //console.log(JSON.stringify(data))
  //console.log(JSON.stringify(ticks))
  options = {
    yaxis: {      
      ticks: ticks
    }
  };
  options.colors = CHART_COLORS;
  return {data: data, options: options};
}


PIE_OPTIONS = {
  series: {
    pie: {
      show: true,
      radius: 0.92,
      label: {
        show: true,
        radius: 2/3,
        formatter: function(label, series){
          return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
        },
        threshold: 0.04
      }      
    }
  },
  legend: {
    labelBoxBorderColor: "none",
    backgroundOpacity: 0.5,
    noColumns: 1
  }
};
PIE_OPTIONS.colors = CHART_COLORS;

LINE_OPTIONS = {
  series: {
    lines: {
      show: true
    },
    points: {
      show: true
    }
  },
  xaxis: {
    position: "bottom",
    mode: "time",
    minTickSize: [1, "month"]
  },
  legend: {
    position: "nw",
    noColumns: 2,
    margin: [20, 10],
    labelBoxBorderColor: "none"
  },
  yaxis: {
    position: "left",
    minTickSize: 5
  },
  grid: {
        hoverable: true,
        borderWidth: 1,
        labelMargin: 30,
        axisMargin:  1
  }
};

LINE_OPTIONS.colors = CHART_COLORS;
