<% require 'constants' %>
CHART_COLORS = <%= Constants.get_chart_colors.to_json %>;

ANALYTICS_TABLE_OPTIONS = {
  "sScrollY": "350px",
  //"sScrollX": "800px",
  "bPaginate": false,
  "bAutoWidth" : true,
  "bFilter": true,
  "bSort" : false,
  //"aaSorting": [[ 1, "desc" ]]
};

whereDropDownIds = ["month_filter", 
                        "quarter_filter", 
                        "year_filter", 
                        "repo_filter", 
                        "state_filter", 
                        "company_filter", 
                        "user_filter",
                        "name_filter",
                        "org_filter"];

PIE_OPTIONS = {
  series: {
    pie: {
      show: true,
      radius: 1,
      label: {
        show: true,
        radius: 2/3,
        formatter: function(label, series){
          return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
        },
        threshold: 0.04
      }      
    }
  },
  legend: {
    labelBoxBorderColor: "none",
    backgroundOpacity: 0.5,
    noColumns: 2
  }
};
PIE_OPTIONS.colors = CHART_COLORS;

var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];

LINE_OPTIONS = {
  series: {
    lines: {
      show: true
    },
    points: {
      show: true
    }
  },
  xaxis: {
          //mode: "time",
          tickFormatter: function(x) { 
            date = new Date(x*1000);
            month = monthNames[date.getMonth()] ;
            year = date.getFullYear();
            return month + " " + year
           }
        },
  legend: {
    position: "nw",
    noColumns: 3
  },
  yaxis: {
    minTickSize: 5
  },
  grid: {
        hoverable: true,
        borderWidth: 1
  }
};

LINE_OPTIONS.colors = CHART_COLORS;

function analyticsAJAX(data, format, responseType, callback){
  data.format = format
  $.ajax({
      url: "analytics_data",
      data: data,
      method: 'POST',
      dataType: responseType,
      success: callback,
      error: function(XMLHttpRequest, textStatus, errorThrown) { 
        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
    }       
  });
}

function parsePieToBar(data) {
  points = [];
  ticks = [];
  for (i = 0 ; i < data.length ; i++) {
     points.push(Array(data[i].data, i));  //Array(i, data[i].data));
     ticks.push(Array(data[i].label, i)); //Array(i, data[i].label));
  }



  data = [{
    data: points,
    minTickSize: 1,
    bars: { 
      show: true,
      horizontal: true, 
      align: "center" 
    }         
  }];
  ticks.forEach(function(arr) {arr.reverse()});
  //console.log(JSON.stringify(data))
  //console.log(JSON.stringify(ticks))
  options = {
    yaxis: {      
      ticks: ticks
    }
  };
  options.colors = CHART_COLORS;
  return {data: data, options: options};
}
