.prs-line-graph-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.prs-line-graph {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

#prs_days_elapsed_container {
	width: 40%;
}

a.tooltip {outline:none; } 
a.tooltip strong {line-height:30px;} 
a.tooltip:hover {text-decoration:none;} 
a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:240px; line-height:16px; } 
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; } 

#metric_chart { width: 960px; height: 450px; font-size:18px; position:relative; }
#table_container { width: 960px; height: 550px; font-size:12px; position:relative; }

.legend table, .legend > div {
    height: 200px !important;
    opacity: 1 !important;
    float: right;
    top: 10px;
    # width: 81px !important;
}
 
.legend table {
    border: 1px solid #555;
    padding: 5px;
}

#flot-tooltip {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    position: absolute;
    display: none;
    border: 2px solid;
    padding: 2px;
    background-color: #FFF;
    opacity: 0.8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

td.highlight {
    background-color: whitesmoke !important;
}


div.drops {
    height: 60px;
    margin-top: 10px;
}

div.drop label {
    color: #909cb5;
}

.drop {
    height: 30px;
    float: left;
    margin-right: 20px;
}

.drop label {
    display: block;
}

/* 
TODO: Auto resize based on browser size all the analytics page
 */