<h1>Info Page</h1>
<br>
API Requests Left: <%= OctokitUtils.get_rate_limit %>
<br><br>
Database Info: <%= Rails.configuration.database_configuration[Rails.env] %>

Rails.configuration.database_configuration[Rails.env][adapter]
